@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.button{
  position: absolute;
  bottom: 17%;
  right: 8%;
  background-color: white;
  width: 12%;
  height: 5%;
  text-align: center;
  font-size:large;
  padding: 0%;
}
.bt {
  margin-top: 15%;
}
.text{
  position: absolute;
  bottom: 6%;
  right: 6%;
  color: white;
  font-family: "outfit";
  }
